
@media (min-width: 860px) {
  .article {
    padding: 0;
  }

  .article:nth-child(even) {
    float: right;
  }

  .article:nth-child(2) {
    margin-top: 80px;
  }

  .article:nth-child(odd) .article-content {
    margin: 20px 50px 20px 0;
  }

  .article:nth-child(even) .article-content {
    margin: 20px 0 20px 50px;
  }

  .article:nth-child(odd) .triangle {
    right: -40px;
    left: auto;
  }

  .article:nth-child(odd) .triangle:after {
    left: -16px;
    box-shadow: 2px 1px 6px -2px rgba(0, 0, 0, 0.5);
  }

  .article:nth-child(odd) .timeline-date {
    right: -72px;
    left: auto;
  }

  .article:nth-child(even) .timeline-date {
    left: -72px;
  }

  .article:nth-child(odd) .timeline-date.repeated-day {
    right: -55px;
    left: auto;
  }

  .article:nth-child(even) .timeline-date.repeated-day {
    left: -55px;
  }

  .timeline {
    left: 50% !important;
  }

  section#articlesSection .container {
    margin-top: 10px !important;
  }

}

section#articlesSection .container {
  position: relative;
  margin-top: -10px;
}

.article .article-content {
  box-shadow: 0px 2px 3px #bbb;
  background-color: white;
  margin: 20px 0 20px 70px;
  padding: 12px;
  position: relative;
}

.article .triangle {
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
  left: -40px;
  top: 23px;
}

.article .triangle:after {
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background: white;
  transform: rotate(45deg);
  top: 0px;
  left: 30px;
}

.article .article-image {
  width: 100%;
}

.article .article-date {
  font-size: 12px;
  font-weight: normal;
  color: #bbb;
}

.article .timeline-date {
  background-color: #d4dfdb;
  color: #2f4c5a;
  width: 45px;
  height: 45px;
  padding: 10px;
  display: block;
  position: absolute;
  left: -68px;
  z-index: 20;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.article .timeline-date span {
  display: block;
}

.article .timeline-date.repeated-day {
  border: 2px solid #76c3bb;
  border-radius: 5px;
  background-color: #ebf1ef;
  width: 10px;
  height: 10px;
  padding: 0;
  left: -49px;
  top: 34px;
  z-index: 10;
}

.article .timeline-date-month {
  color: #029688;
  text-transform: uppercase;
  font-size: 10px;
}

.article .article-info p {
  display: inline;
}

.article .read-more {
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #029688;
}

.timeline {
  background-color: #76c3bb;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 57px;
  left: 41px;
  margin-left: -1px;
}

.timeline::after {
  border-left: 2px dotted #ebf1ef;
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 38px;
}
